@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    transition: background-color 0.6s ease, color 0.6s ease, box-shadow 0.6s ease;
}
:root{
    --main-bg: hsl(222, 26%, 31%);
    --keypad-bg:hsl(223, 31%, 20%);
    --output-bg: hsl(224, 36%, 15%);
    --output-text-color:#fff;
    --key-del-reset-bg: hsl(225, 21%, 49%);
    --key-del-reset-shadow: hsl(224, 28%, 35%);
    --key-equal-bg:hsl(6, 63%, 50%);
    --key-equal-shadow: hsl(6, 70%, 34%);
    --key-primary-bg:hsl(30, 25%, 89%);
    --key-primary-shadow:  hsl(28, 16%, 65%);
    --primary-text-color:hsl(221, 14%, 31%);
    --primary-calc-text-color:#fff;
    --secondary-text-color-white:#fff;
}
.theme-2{
    --main-bg: hsl(0, 0%, 90%);
    --keypad-bg: hsl(0, 5%, 81%);
    --output-bg: hsl(0, 0%, 93%);
    --output-text-color:hsl(60, 10%, 19%);
    --key-del-reset-bg: hsl(185, 42%, 37%);
    --key-del-reset-shadow: hsl(185, 58%, 25%);
    --key-equal-bg:hsl(25, 98%, 40%);
    --key-equal-shadow: hsl(25, 99%, 27%);
    --key-primary-bg:hsl(45, 7%, 89%);
    --key-primary-shadow:  hsl(35, 11%, 61%);
    --primary-text-color:hsl(60, 10%, 19%);
    --primary-calc-text-color:hsl(60, 10%, 19%);
    --secondary-text-color-white:#fff;
}
.theme-3{
    --main-bg: hsl(268, 75%, 9%);
    --keypad-bg: hsl(268, 71%, 12%);
    --output-bg:hsl(268, 71%, 12%);
    --output-text-color:hsl(52, 100%, 62%);
    --key-del-reset-bg:  hsl(281, 89%, 26%);
    --key-del-reset-shadow:  hsl(285, 91%, 52%);
    --key-equal-bg:hsl(176, 100%, 44%);
    --key-equal-shadow: hsl(177, 92%, 70%);
    --key-primary-bg:hsl(268, 47%, 21%);
    --key-primary-shadow:   hsl(290, 70%, 36%);
    --primary-text-color:hsl(52, 100%, 62%);
    --primary-calc-text-color:hsl(52, 100%, 62%);
    --secondary-text-color-white:#fff;
}
body{
    font-family: 'Spartan', sans-serif;
    font-size: 32px;
    background-color: var(--main-bg);
}
main{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 2rem
}
button{
    font-size: 2rem;
    color: var(--primary-text-color);
    background:var(--key-primary-bg);
    height: 60px;
    border-radius: .5rem;
    border: none;
    font-weight: 700;
    width: 100%;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.theme-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
}
.output {
    background-color: var(--output-bg);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding-right: 1rem;
    word-wrap: break-word;
    word-break: break-all;
    height: 120px;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    max-width: 536px;
  }
  
  .output .previous-operand {
    color: var( --output-text-color);
    font-size: 1.5rem;
  }
  
  .output .current-operand {
    color: var( --output-text-color);
    font-size: 2.5rem;
    overflow-y:auto;
  }
.buttons{
    display: grid;
    grid-template-columns: repeat(4,minmax(50px, 100px));
    grid-gap: 1.5rem;
    background-color: var(--keypad-bg);
    padding: 2rem;
    border-radius: .5rem;
}
.col-span{
    grid-column: span 2;
}
.key-shadow,.reset-shadow,.equal-shadow{
    position: relative;
}
.key-shadow::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    box-shadow: 0px 4px 0px var(--key-primary-shadow);
    width: 100%;
    height: 9px;
    border-radius: 0 0 0.5rem 0.5rem;
}
button:active{
    transform: translateY(4px);
}
.reset-shadow button{
    background-color:var(--key-del-reset-bg);
    color: var(--secondary-text-color-white);
    font-weight: 500;
    letter-spacing:1px;
    font-size: 1.5rem;
}
.reset-shadow::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    box-shadow: 0px 4px 0px var(--key-del-reset-shadow);
    width: 100%;
    height: 9px;
    border-radius: 0 0 0.5rem 0.5rem;
}
.equal-shadow button{
    background-color:var(--key-equal-bg);
    color: var(--secondary-text-color-white);

}
.equal-shadow::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    box-shadow: 0px 4px 0px var(--key-equal-shadow);
    width: 100%;
    height: 8px;
    border-radius: 0 0 0.5rem 0.5rem;
}
/* theme */

input[type=range] {
    height: 24px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
    border-radius: 1rem;
    padding: 0.3rem;
    max-width: 25%;
    background-color: var(--keypad-bg);
    cursor: pointer;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: none;
    border:0;
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background: var(--key-equal-bg);
    cursor: pointer;
    -webkit-appearance: none;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: none;
    border:0;
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background: var(--key-equal-bg);
    cursor: pointer;
  }
  input[type=range]::-ms-thumb {
    box-shadow: none;
    border:0;
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background: var(--key-equal-bg);
    cursor: pointer;
  }
  #theme-index span, #theme-slider,h1{
    color: var(--primary-calc-text-color);
  }
  #theme-slider{
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
  }
  #theme-index{
    text-align: right;
  }
  #theme-index span:not(:first-child){
      margin-left: .5rem;
  }
  @media only screen and (max-width: 640px) {
    main{
        padding: 2rem;
    }
    .buttons {
        grid-gap: .8rem;
        padding: 1.5rem;
    }
    button{
        height: 50px;
    }
  }

  
